.container{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

}
.container-nav{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.container-sociais{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}

.logo{
    width: 191px;
    height: 76px;
    margin-left: 15px;
}

ul{
    display: flex;
    margin-right: 15px;    
}
ul li{
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    margin-left: 20px;
    color: #150760;
}

