.container{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;

}
.container-nav{
    margin: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.container-sociais{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.logo{
    width: 191px;
    height: 76px;
}

ul{
    display: flex;    
}
ul li{
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    margin-left: 20px;
    color: #150760;
}

.insta, .face{
    margin: 0 5px;
    height: 25px;
    width: 25px;

}