.wraper-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageServico {
  margin: 15px 0;
  height: 50px;
  width: 50px;
}

.titulo {
  text-align: center;
  font-size: 15px;
  color: #150760;
}
