.wraper-service {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  
}
 

.imageServico {
  margin: 15px 0;
  height: 50px;
  width: 50px;
}

.imageServico:hover{
  cursor: pointer;
}



.titulo {
 margin-left: 50px;
  font-size: 15px;
  color: #150760;
}


