.container-card-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.titulo-card-info {
  color: #150760;
  text-align: center;
}

.texto-card-info {
  color: #150760;
  text-align: justify;
  font-size: 15px;
}

@media only screen and (max-width: 800px) {
  .container-card-info {
    width: 100%;
  }
}
