

.container-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
.container-texto{
        color: #150760;
        width: 80%;
        text-align: center;
    }


    
    
    form{
        justify-content: center;
        align-items: center;
        width: 80%;
        background-color: #f0f0f0;
        border: 1px solid black;
       
        
    }
    

    label{
        
        
        width: 60%;
        margin-bottom: 20px;
        color: #150760;
    }
    
    @media only screen and (max-width: 700px){

    }
    
    
    
    
    