.container-servico {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 20px;

  height: 100vh;
  width: 100%;
}

.data-services {
  width: 100%;
  display: flex;
}
