.container-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-texto {
  font-size: 18px;
  color: #150760;
  width: 80%;
  text-align: center;
  padding: 15px 0;
}

.form-container {
    display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  
}
